/* body {
  background-color: rgba(142, 142, 218, 0.418);
} */
.container {
  position: center;
  display: flex;
  padding: 30px;
  margin-right: 30px;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
a {
  font-family: "Josefin Sans", sans-serif;
}
h5 {
  font-family: "Josefin Sans", sans-serif;
}
div.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-image: url("../imgs/sun.jpg");
  background-position: center;
}
footer {
  height: 30vh;
  bottom: 0;
  left: 20px;
  background-color: rgba(180, 180, 196, 0.719);
  text-align: center;
  padding-top: 30px;
}

.card {
  margin: 10px;
  padding-top: 20px;
}
#btn {
  background-color: rgba(99, 163, 184, 0.267);
  color: rgb(59, 77, 151);
  padding: 20px;
}
